@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */
  background-color: rgb(9, 0, 26)
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

/* Add these to your existing CSS */
@media (max-width: 768px) {
  .prose {
    font-size: 1rem;
  }
  
  .stats-grid {
    grid-template-columns: 1fr;
  }
}

/* Add these to your existing CSS */
@media (max-width: 768px) {
  .experience-timeline {
    flex-direction: column;
  }
  
  .experience-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}




